In [1]:
import pandas as pd
import numpy as np
import os

In [6]:
path= r'C:\Users\jphil\OneDrive\Documents\CareerFoundry Data Analytics\Data Immersion\Achievement 6- Denver Crime'

In [7]:
crime=pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'crime_data.csv'), index_col=False)

In [ ]:
#getting familiar with the data set

In [8]:
crime.head()

,incident_id,offense_id,offense_code,offense_code_extension,offense_type_id,offense_type_name,offense_category_id,first_occurrence_date,last_occurrence_date,reported_date,incident_address,geo_x,geo_y,geo_lon,geo_lat,district_id,precinct_id,neighborhood,neighborhood_id,victim_count
0,2.022749e+08,2.020000e+14,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,2/12/2022 22:45,2/13/2022 8:00,2/13/2022 9:16,1014 S FEDERAL BLVD,3133754.0,1679544.0,-105.024664,39.698188,4,412,athmar-park,2.0,1
1,2.020529e+09,2.020000e+15,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,9/1/2020 15:30,9/1/2020 15:30,9/1/2020 16:05,630 S TEJON ST,3137694.0,1682192.0,-105.010612,39.705400,4,412,athmar-park,1.0,1
2,2.019905e+06,2.020000e+12,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,12/31/2018 21:30,NaN,1/1/2019 11:16,1080 S ELIOT ST,3134051.0,1679276.0,-105.023614,39.697448,4,412,athmar-park,1.0,1
3,2.022261e+09,2.020000e+15,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,5/24/2022 21:10,NaN,5/24/2022 22:58,2698 W ALAMEDA AVE,3135023.0,1684185.0,-105.020067,39.710910,4,412,athmar-park,1.0,1
4,2.022432e+09,2.020000e+15,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,8/22/2022 22:45,NaN,8/23/2022 6:51,730 S JASON ST,3141273.0,1681523.0,-104.997905,39.703510,4,412,athmar-park,1.0,1

In [9]:
crime.describe()

,incident_id,offense_id,offense_code,offense_code_extension,geo_x,geo_y,geo_lon,geo_lat,district_id,precinct_id,neighborhood_id,victim_count
count,3.863400e+05,3.863400e+05,386340.000000,386340.000000,3.708760e+05,3.708760e+05,3.706100e+05,370610.000000,386340.000000,386340.000000,385942.000000,386340.00000
mean,6.183074e+09,6.178999e+15,2765.786297,0.263454,3.156941e+06,1.693832e+06,-1.049445e+02,39.731289,3.671890,385.367156,36.095113,1.02029
std,1.336135e+10,1.335790e+16,1230.415071,0.669436,3.546425e+05,8.820014e+04,9.935981e-01,0.377459,1.808331,182.548682,22.007505,0.23466
min,2.019600e+04,2.019652e+10,902.000000,0.000000,1.000000e+00,1.110000e+02,-1.154641e+02,0.000000,1.000000,111.000000,1.000000,1.00000
25%,2.019360e+09,2.020000e+15,2304.000000,0.000000,3.140228e+06,1.683522e+06,-1.050014e+02,39.708881,2.000000,222.000000,17.000000,1.00000
50%,2.021483e+09,2.020000e+15,2399.000000,0.000000,3.146510e+06,1.694853e+06,-1.049790e+02,39.740004,3.000000,324.000000,32.000000,1.00000
75%,2.023469e+09,2.020000e+15,2999.000000,0.000000,3.165773e+06,1.702469e+06,-1.049110e+02,39.760948,5.000000,523.000000,54.000000,1.00000
max,2.020000e+12,2.020000e+18,7399.000000,6.000000,4.067477e+07,1.089045e+07,5.000000e-07,39.900961,7.000000,759.000000,78.000000,19.00000

In [ ]:
#right away there looks to be some missing values for the gps data, as well as neighborhood_id

In [10]:
crime.shape

(386340, 20)

In [11]:
crime['neighborhood_id'].value_counts(dropna=False)

neighborhood_id
27.0    23073
11.0    17856
9.0     14655
10.0    14651
24.0    14640
        ...
54.0     1098
23.0      887
39.0      717
NaN       398
73.0      381
Name: count, Length: 79, dtype: int64

In [12]:
# Function to find number of missing values in a column
def count_missing_values(neighborhood_id):
    return crime[neighborhood_id].isna().sum()

# Example usage
missing_values_column1 = count_missing_values('neighborhood_id')

print(f"Number of missing values in Column1: {missing_values_column1}")

Number of missing values in Column1: 398

In [ ]:
#there are 398 missing values in neighborhood_id, about .1% of all the rows

In [13]:
crime['neighborhood'].value_counts(dropna=False)

neighborhood
five-points     23073
central-park    17856
capitol-hill    14655
cbd             14651
dia             14640
                ...
rosedale         1098
country-club      887
indian-creek      717
NaN               398
wellshire         381
Name: count, Length: 79, dtype: int64

In [ ]:
#there are also 398 missing values in neighborhood. since it is such a small portion of the whole set, I will go ahead and remove those rows.

In [14]:
crime_clean=crime[crime['neighborhood'].isnull()==False]

In [15]:
crime_clean.shape

(385942, 20)

In [16]:
crime_clean.describe()

,incident_id,offense_id,offense_code,offense_code_extension,geo_x,geo_y,geo_lon,geo_lat,district_id,precinct_id,neighborhood_id,victim_count
count,3.859420e+05,3.859420e+05,385942.000000,385942.000000,3.704910e+05,3.704910e+05,370491.000000,370491.000000,385942.000000,385942.000000,385942.000000,385942.000000
mean,6.182492e+09,6.178422e+15,2765.709508,0.263413,3.153619e+06,1.693022e+06,-104.953762,39.734856,3.671733,385.348210,36.095113,1.020298
std,1.336574e+10,1.336230e+16,1230.228260,0.669420,2.206574e+04,1.565493e+04,0.078645,0.042797,1.808486,182.560384,22.007505,0.234754
min,2.019600e+04,2.019652e+10,902.000000,0.000000,3.109888e+06,1.648992e+06,-105.109843,39.614462,1.000000,111.000000,1.000000,1.000000
25%,2.019359e+09,2.020000e+15,2304.000000,0.000000,3.140235e+06,1.683532e+06,-105.001363,39.708978,2.000000,222.000000,17.000000,1.000000
50%,2.021481e+09,2.020000e+15,2399.000000,0.000000,3.146509e+06,1.694853e+06,-104.978999,39.740005,3.000000,324.000000,32.000000,1.000000
75%,2.023468e+09,2.020000e+15,2999.000000,0.000000,3.165764e+06,1.702469e+06,-104.911053,39.760948,5.000000,523.000000,54.000000,1.000000
max,2.020000e+12,2.020000e+18,7399.000000,6.000000,3.241664e+06,1.754122e+06,-104.639230,39.900961,7.000000,759.000000,78.000000,19.000000

In [17]:
crime_clean['geo_lon'].value_counts(dropna=False)

geo_lon
 NaN           15451
-104.674045     1641
-104.993574     1523
-104.704423     1379
-104.992313     1295
               ...
-104.871046        1
-104.897485        1
-104.870626        1
-104.904013        1
-104.881970        1
Name: count, Length: 90732, dtype: int64

In [ ]:
#this shows there are 15,451 missing values in the GPS columns. this amounts to 4% of the whole data set. since it is under 5%, it is still okay to drop these rows.

In [18]:
crime_cleaned=crime_clean[crime_clean['geo_lon'].isnull()==False]

In [19]:
crime_cleaned.shape

(370491, 20)

In [20]:
demo=pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'Denver_Demo_Data.csv'), index_col=False)

In [21]:
demo.head()

,Neighborhood ID,Neighborhood Name,Total Population All,Hispanic or Latino,White,Black,Native American,Asian,Hawaiian/Pacific Islander,Other Race,...,Latin America FB,Carribean FB,Central America FB,South America FB,North America FB,Percent Living in Poverty,Percent Families in Poverty,GlobalID,Shape__Area,Shape__Length
0,1,Athmar Park,9585,5855,2992,75,140,431,0,49,...,1637,0,1637,0,0,18.4,16.9,e08a87f1-5d62-4f3c-9c82-fe2177912601,43089441.09,27352.42330
1,2,Auraria,780,150,547,54,7,0,0,0,...,11,0,11,0,0,0.0,0.0,578ee93f-c666-4afb-a5da-464a0e1ce408,17995417.42,17705.43233
2,3,Baker,6824,1573,4470,253,77,78,0,0,...,213,0,213,0,0,8.6,5.0,71797204-61b1-4857-a8a6-430b468b4dc8,41526941.27,33708.63215
3,4,Barnum,6547,4668,1625,15,150,0,0,8,...,1107,0,1038,69,17,24.2,22.9,20d9e9d6-3a0b-47d1-9cf7-35ac1af83da8,21507921.73,18715.38679
4,5,Barnum West,6034,4520,1261,166,26,7,0,0,...,1322,0,1300,22,0,5.4,4.2,aec46415-c927-44a5-a36a-47d0018a2ca5,20177846.10,18305.38919

In [22]:
demo.rename(columns= {'Neighborhood ID': 'neighborhood_id'}, inplace=True)

In [ ]:
#merging denver crime dataset with denver demographics datset using the neighborhood id as the key column.

In [23]:
crime_merged=crime_cleaned.merge(demo, on= 'neighborhood_id')

In [24]:
crime_merged.head()

,incident_id,offense_id,offense_code,offense_code_extension,offense_type_id,offense_type_name,offense_category_id,first_occurrence_date,last_occurrence_date,reported_date,...,Latin America FB,Carribean FB,Central America FB,South America FB,North America FB,Percent Living in Poverty,Percent Families in Poverty,GlobalID,Shape__Area,Shape__Length
0,2.022749e+08,2.020000e+14,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,2/12/2022 22:45,2/13/2022 8:00,2/13/2022 9:16,...,11,0,11,0,0,0.0,0.0,578ee93f-c666-4afb-a5da-464a0e1ce408,17995417.42,17705.43233
1,2.020529e+09,2.020000e+15,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,9/1/2020 15:30,9/1/2020 15:30,9/1/2020 16:05,...,1637,0,1637,0,0,18.4,16.9,e08a87f1-5d62-4f3c-9c82-fe2177912601,43089441.09,27352.42330
2,2.019905e+06,2.020000e+12,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,12/31/2018 21:30,NaN,1/1/2019 11:16,...,1637,0,1637,0,0,18.4,16.9,e08a87f1-5d62-4f3c-9c82-fe2177912601,43089441.09,27352.42330
3,2.022261e+09,2.020000e+15,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,5/24/2022 21:10,NaN,5/24/2022 22:58,...,1637,0,1637,0,0,18.4,16.9,e08a87f1-5d62-4f3c-9c82-fe2177912601,43089441.09,27352.42330
4,2.022432e+09,2.020000e+15,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,8/22/2022 22:45,NaN,8/23/2022 6:51,...,1637,0,1637,0,0,18.4,16.9,e08a87f1-5d62-4f3c-9c82-fe2177912601,43089441.09,27352.42330

In [25]:
pd.set_option('display.max_columns', None)

In [26]:
crime_merged.describe()

,incident_id,offense_id,offense_code,offense_code_extension,geo_x,geo_y,geo_lon,geo_lat,district_id,precinct_id,neighborhood_id,victim_count,Total Population All,Hispanic or Latino,White,Black,Native American,Asian,Hawaiian/Pacific Islander,Other Race,Two or More,Percent Hispanic,Percent White,Percent Black,Percent Native American,Percent Asian,Percent Hawaiian/Pacific Islander,Percent Other Race,Percent Two or More Races,MALE,FEMALE,Age Less Than 5,Age 5 to 9,Age 10 to 14,Age 15 to 17,Age 0 to 9,Age 10 to 19,Age 20 to 29,Age 30 to 39,Age 40 to 49,Age 50 to 59,Age 60 to 69,Age 70 to 79,Age Over 80,Age Less than 18,Age Over 65,Percent Age Less Than 18,Percent Age Over 65,Median Age All,Median Age Male,Median Age Female,Total Population 3 or Higher,Enrolled in School,Nursery or Preschool,KINDERGARTEN,Grades 1 to 4,Grades 5 to 8,Grades 9 to 12,College Undergraduate,Graduate School,Not Enrolled,Total Commuters,Commute Less than 15 Minutes,Commute 15 to 30 Minutes,Commute 30 to 45 Minutes,Commute 45 to 60 Minutes,Commute Over 60 Minutes,Total Population Over 25,Less Than HS Diploma,HS Graduate or Equivalent,Some College or AA,Bachelors or Higher,Total Population 5 and Over,Only English,Spanish,Total Housing Units,Occupied Housing Units,Vacant Housing Units,Owner Occupied Housing Units,Renter Occupied Housing Units,Total Households,Family Households,Married Couple Family,Other Family,Male Householder No Wife Present,Female Householder No Husband Present,Non Family Household,Householder Alone,Householder Not Alone,Household Income Less 10000,Household Income 10000 to 14999,Household Income 15000 to 19999,Household Income 20000 to 24999,Household Income 25000 to 29999,Household Income 30000 to 34999,Household Income 35000 to 39999,Household Income 40000 to 44999,Household Income 45000 to 49999,Household Income 50000 to 59999,Household Income 60000 to 74999,Household Income 75000 to 99999,Household Income 100000 to 124999,Household Income 125000 to 149999,Household Income 150000 to 199999,Household Income Over 200000,Median Household Income,Median Family Income,Per Capita Income,Average Household Income,Average Family Income,Median Earnings,Median Earnings Male,Median Earnings Female,Median Earnings Less HS,Median Earnings HS,Median Earnings Some College,Median Earnings Bachelor,Median Earnings Graduate,Median Year Built,Built 2014 or Later,Built 2010 to 2013,Built 2000 to 2009,Built 1990 to 1999,Built 1980 to 1989,Built 1970 to 1979,Built 1960 to 1969,Built 1950 to 1959,Built 1940 to 1949,Built 1939 or Earlier,Median Contract Rent,Median Gross Rent,Median Home Value,Native Born,Foreign Born FB,Europe FB,Northern Europe FB,Western Europe FB,Southern Europe FB,Eastern Europe FB,Asia FB,Eastern Asia FB,South Central Asia FB,South Eastern Asia FB,Western Asia FB,Africa FB,Eastern Africa FB,Middle Africa FB,Southern Africa FB,Western Africa FB,Oceania FB,Americas FB,Latin America FB,Carribean FB,Central America FB,South America FB,North America FB,Percent Living in Poverty,Percent Families in Poverty,Shape__Area,Shape__Length
count,3.704910e+05,3.704910e+05,370491.000000,370491.000000,3.704910e+05,3.704910e+05,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.00000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,367897.000000,364777.000000,370491.000000,370491.000000,370491.000000,367371.000000,367371.000000,370491.000000,233912.000000,343200.000000,360932.000000,360857.000000,352017.000000,369794.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,364777.000000,364777.000000,3.682150e+05,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,3.704910e+05,370491.000000
mean,6.315830e+09,6.311640e+15,2801.609464,0.228931,3.153619e+06,1.693022e+06,-104.953762,39.734856,3.673979,385.568295,36.026594,1.020200,11913.965781,3453.019998,6222.267909,1297.913185,47.265342,451.431384,12.746264,23.164992,406.156706,26.518885,56.423093,9.522127,0.392546,3.366728,0.117583,0.159470,3.484571,6062.449312,5851.516469,708.925583,643.749519,648.887857,343.361180,1352.675101,1198.603966,2334.717140,2521.815817,1617.410655,1238.501675,901.162546,481.501659,267.577220,2344.924139,1498.306218,17.026909,13.344618,34.691705,34.865565,34.897020,11480.650318,2545.115225,176.071465,127.853843,496.570208,517.286741,443.86547,531.758256,251.709243,8935.535093,5898.774939,1214.935939,2388.337514,1499.116489,473.212934,323.172064,8598.636169,913.440291,1434.959934,1892.742701,4357.493243,11205.040198,8379.508998,2072.996923,5167.115887,4831.577102,335.538785,2228.499615,2603.077486,4831.577102,2193.644990,1599.361680,594.283311,190.982353,403.300957,2637.932112,1946.884370,691.047742,274.294350,160.209795,170.135671,152.356940,167.399065,174.401462,181.039170,171.918945,141.878542,400.534896,451.499024,598.385367,472.230999,349.821059,436.676969,528.794848,79100.876952,111710.559366,49204.069324,105816.797677,138241.265793,53788.468083,62300.716143,44991.732439,26545.962482,36673.604409,43261.491849,61120.609904,75394.648886,1691.716375,595.748804,281.219274,831.769147,341.618576,385.327028,626.543428,519.427430,547.263866,208.311989,829.886345,1371.655554,1472.695384,4.643302e+05,10202.268565,1711.697215,158.609472,39.955656,37.090224,12.020538,69.170279,363.923766,101.712697,80.475960,151.172274,30.363790,160.694160,79.062058,8.283076,6.203765,41.243990,8.740785,1019.729033,988.717480,24.405157,898.402722,65.909601,31.011552,12.990711,8.331165,9.736059e+07,38577.592848
std,1.276302e+10,1.275932e+16,1211.479748,0.637733,2.206574e+04,1.565493e+04,0.078645,0.042797,1.811409,182.903680,22.012594,0.236811,9049.761336,4917.275281,4685.006169,2293.088975,54.609378,503.804755,35.010786,38.088544,352.327685,21.368189,23.593251,10.408701,0.424764,2.175159,0.360512,0.245504,2.206562,4516.968342,4568.810527,817.298588,810.501859,899.678318,458.495316,1609.096524,1555.362888,1812.592641,1785.009055,1388.236396,943.598865,614.975309,381.761761,245.959876,2935.755913,1126.728186,10.497694,6.910910,4.840948,4.784908,5.090123,8589.258338,2639.349052,228.123498,139.679319,666.714428,726.515124,578.06408,503.288780,194.400458,6237.370631,4080.118981,855.779105,1609.368143,1171.039147,449.915635,354.165244,5808.540243,1333.539332,1418.244228,1564.316310,3273.983117,8301.026891,5565.380360,3626.605398,3254.993695,3095.439158,291.096431,1887.976797,1978.508931,3095.439158,1925.709727,1480.765659,525.031631,170.980489,372.347797,2144.464199,1604.642815,590.580784,196.867298,112.774574,146.023069,129.449314,133.124920,144.388825,148.172337,157.926422,112.436373,319.564198,359.291124,485.532183,379.260724,280.524489,381.793847,559.194944,26128.133043,50286.653867,22614.069106,38397.253058,66923.213089,17007.226321,23364.406856,11682.619284,10147.099765,15453.957934,9503.539799,17709.073691,21896.706093,503.399338,917.539302,439.166254,1322.794317,469.808312,468.572579,989.431640,596.069495,662.008160,262.131981,964.066077,260.423106,270.289428,1.482638e+05,7260.440999,2291.728583,154.103441,50.102935,44.499195,30.269154,102.694898,405.985349,117.385243,102.710939,265.872456,61.953851,286.462951,158.971520,21.338892,17.067680,112.144952,18.524084,1843.875573,1848.522278,49.627766,1774.878102,89.052387,38.665589,8.598152,9.003788,2.254008e+08,37494.304569
min,2.019600e+04,2.019652e+10,902.000000,0.000000,3.109888e+06,1.648992e+06,-105.109843,39.614462,1.000000,111.000000,1.000000,1.000000,780.000000,123.000000,132.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.900000,9.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,406.000000,374.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,53.000000,14.000000,0.000000,10.000000,23.000000,0.000000,0.000000,11.000000,4.000000,0.500000,0.500000,15.900000,12.400000,19.400000,780.000000,289.000000,0.000000,0.000000,0.000000,0.000000,0.00000,35.000000,0.000000,53.000000,323.000000,41.000000,90.000000,45.000000,7.000000,18.000000,75.000000,0.000000,4.000000,33.000000,38.000000,780.000000,714.000000,19.000000,47.000000,26.000000,0.000000,0.000000,4.000000,26.000000,14.000000,14.000000,0.000000,0.000000,0.000000,12.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20492.000000,21295.000000,7447.000000,23771.000000,25423.000000,16638.000000,21917.000000,11845.000000,2499.000000,2499.000000,26034.000000,25500.000000,35213.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,226.000000,268.000000,2.287000e+05,737.000000,43.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.472190e+06,12636.880100
25%,2.019380e+09,2.020000e+15,2304.000000,0.000000,3.140235e+06,1.683532e+06,-105.001363,39.708978,2.000000,222.000000,17.000000,1.000000,6387.000000,654.000000,2716.000000,199.000000,8.000000,101.000000,0.000000,0.000000,128.000000,12.200000,36.600000,2.400000,0.100000,1.800000,0.000000,0.000000,1.700000,3235.000000,2953.000000,168.000000,152.000000,116.000000,61.000000,393.000000,314.000000,1072.000000,1162.000000,704.000000,520.000000,489.000000,214.000000,99.000000,610.000000,750.000000,10.300000,8.400000,32.200000,32.500000,31.800000,5954.000000,1019.000000,47.000000,25.000000,106.000000,106.000000,85.00000,224.000000,110.000000,4682.000000,2977.000000,579.000000,1173.000000,716.000000,186.000000,119.000000,4296.000000,181.000000,507.000000,779.000000,1805.000000,5854.000000,4331.000000,305.000000,2978.000000,2616.000000,130.000000,858.000000,1226.000000,2616.000000,1013.000000,677.000000,205.000000,71.000000,147.000000,1162.000000,885.000000,287.000000,127.000000,72.000000,68.000000,67.000000,70.000000,72.000000,63.000000,60.000000,67.000000,178.000000,213.000000,237.000000,201.000000,139.000000,186.000000,133.000000,60678.000000,69214.000000,29432.000000,75259.000000,82394.000000,41476.000000,46346.000000,37440.000000,24950.000000,29251.000000,35972.000000,51182.000000,61281.000000,1338.333333,42.000000,25.000000,135.000000,87.000000,74.000000,68.000000,106.000000,100.000000,19.000000,64.000000,1202.000000,1255.000000,3.367000e+05,5267.000000,483.000000,44.000000,0.000000,0.000000,0.000000,12.000000,81.000000,21.000000,0.000000,12.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,163.000000,118.000000,0.000000,94.000000,11.000000,0.000000,7.700000,3.000000,2.150792e+07,19850.065220
50%,2.021511e+09,2.020000e+15,2399.000000,0.000000,3.146509e+06,1.694853e+06,-104.978999,39.740005,3.000000,324.000000,32.000000,1.000000,9585.000000,2164.000000,5198.000000,401.000000,26.000000,264.000000,0.000000,6.000000,330.000000,16.300000,65.500000,6.600000,0.300000,3.000000,0.000000,0.000000,3.400000,4744.000000,4820.000000,431.000000,342.000000,394.000000,197.000000,913.000000,746.000000,1946.000000,2014.000000,1138.000000,990.000000,796.000000,362.000000,202.000000,1498.000000,1240.000000,17.100000,11.100000,33.700000,34.200000,34.000000,9259.000000,1669.000000,99.000000,77.000000,265.000000,285.000000,274.00000,348.000000,184.000000,7039.000000,4772.000000,924.000000,1941.000000,1106.000000,369.000000,229.000000,6946.000000,435.000000,1072.000000,1394.000000,3667.000000,9001.000000,6999.000000,854.000000,4362.000000,3996.000000,264.000000,1727.000000,2039.000000,3996.000000,1691.000000,1165.000000,423.000000,144.000000,261.000000,1945.000000,1419.000000,518.000000,260.000000,154.000000,125.000000,120.000000,133.000000,135.000000,112.000000,97.000000,97.000000,314.000000,337.000000,493.000000,371.000000,249.000000,344.000000,398.000000,72220.000000,105686.000000,51649.000000,93588.000000,138540.000000,49882.000000,56729.000000,44583.000000,26397.000000,34597.000000,42134.000000,59245.000000,70992.000000,1957.500000,168.000000,105.000000,381.000000,161.000000,173.000000,195.000000,272.000000,232.000000,110.000000,432.000000,1348.000000,1462.000000,4.315750e+05,8085.000000,1018.000000,90.000000,27.000000,21.000000,0.000000,25.000000,225.000000,58.000000,34.000000,49.000000,0.000000,41.000000,14.000000,0.000000,0.000000,0.000000,0.000000,418.000000,373.000000,3.000000,236.000000,33.000000,21.000000,10.900000,5.700000,3.763431e+07,26669.266760
75%,2.023503e+09,2.020000e+15,2999.000000,0.000000,3.165764e+06,1.702469e+06,-104.911053,39.760948,5.000000,523.000000,54.000000,1.000000,15849.000000,3116.000000,8438.000000,2070.000000,68.000000,672.000000,0.000000,31.000000,696.000000,39.300000,74.900000,12.100000,0.500000,4.700000,0.000000,0.200000,4.900000,8514.000000,7335.000000,876.000000,653.000000,658.000000,361.000000,1406.000000,1250.000000,2712.000000,3230.000000,1987.000000,1491.000000,1156.000000,673.000000,369.000000,2286.000000,1855.000000,23.500000,16.800000,36.500000,36.100000,37.700000,15778.000000,2463.000000,209.000000,160.000000,506.000000,551.000000,484.00000,703.000000,364.000000,11853.000000,7243.000000,1603.000000,3357.000000,2081.000000,550.000000,368.000000,11552.000000,889.000000,1788.000000,2754.000000,6313.000000,15730.000000,11068.000000,1631.000000,7853.000000,7401.000000,423.000000,2681.000000,3511.000000,7401.000000,2496.000000,1732.000000,820.000000,254.000000,565.000000,3533.000000,2545.000000,952.000000,356.000000,267.000000,225.000000,222.000000,223.000000,230.000000,289.000000,241.000000,187.000000,541.000000,607.000000,804.000000,632.000000,506.000000,528.000000,707.000000,91252.000000,143802.000000,59275.000000,128616.000000,164160.000000,64355.000000,70604.000000,54791.000000,30685.000000,40446.000000,48835.000000,71269.000000,87312.000000,1975.800000,523.000000,306.000000,710.000000,361.000000,520.000000,663.000000,679.000000,724.000000,309.000000,1338.000000,1556.000000,1655.000000,5.573330e+05,12604.000000,2101.000000,255.000000,48.000000,58.000000,12.000000,83.000000,553.000000,116.000000,100.000000,147.000000,28.000000,157.000000,115.000000,0.000000,0.000000,34.000000,9.000000,800.000000,796.000000,19.000000,749.000000,82.000000,45.000000,15.500000,10.900000,5.396372e+07,38366.179450
max,2.020000e+12,2.020000e+18,7399.000000,6.000000,3.241664e+06,1.754122e+06,-104.639230,39.900961,7.000000,759.000000,78.000000,19.000000,42142.000000,23499.000000,19846.000000,12378.000000,188.000000,2652.000000,213.000000,151.000000,1168.000000,83.100000,92.900000,46.500000,2.300000,11.000000,2.100000,1.200000,12.500000,20300.000000,21842.000000,3576.000000,3141.000000,3614.000000,2025.000000,6717.000000,6945.000000,7168.000000,7994.000000,5508.000000,4294.000000,2929.000000,1719.000000,1254.000000,11725.000000,5316.000000,57.300000,49.700000,55.300000,53.100000,55.900000,39961.000000,11714.000000,969.000000,520.000000,2482.000000,3028.000000,2494.00000,2713.000000,796.000000,28247.000000,19030.000000,3261.000000,6755.000000,5758.000000,2496.000000,1700.000000,26014.000000,6709.000000,6283.000000,7859.000000,12643.000000,38566.000000,22535.000000,18162.000000,12856.000000,12518.000000,1149.000000,9119.000000,8205.000000,12518.000000,9046.000000,6757.000000,2289.000000,731.000000,1563.000000,9403.000000,7381.000000,2333.000000,777.000000,443.000000,636.000000,601.000000,623.000000,568.000000,598.000000,657.000000,475.000000,1285.000000,1563.000000,2549.000000,1950.000000,1005.000000,1442.000000,2548.000000,233158.000000,250001.000000,156305.000000,351319.000000,432890.000000,120913.000000,158333.000000,76620.000000,51250.000000,126346.000000,85850.000000,119138.000000,179688.000000,2010.000000,3062.000000,1733.000000,6556.000000,2314.000000,2114.000000,5318.000000,2147.000000,2708.000000,1287.000000,3719.000000,2222.000000,2333.000000,1.178200e+06,32582.000000,10638.000000,687.000000,191.000000,205.000000,276.000000,509.000000,2173.000000,420.000000,398.000000,1324.000000,284.000000,1427.000000,722.000000,164.000000,96.000000,622.000000,99.000000,9222.000000,9222.000000,326.000000,8682.000000,401.000000,148.000000,77.900000,74.600000,1.180864e+09,198785.286800

In [28]:
crimes_merged=crime_merged.drop(columns= ['geo_x', 'geo_y'])

In [29]:
crimes_merged.head()

,incident_id,offense_id,offense_code,offense_code_extension,offense_type_id,offense_type_name,offense_category_id,first_occurrence_date,last_occurrence_date,reported_date,incident_address,geo_lon,geo_lat,district_id,precinct_id,neighborhood,neighborhood_id,victim_count,Neighborhood Name,Total Population All,Hispanic or Latino,White,Black,Native American,Asian,Hawaiian/Pacific Islander,Other Race,Two or More,Percent Hispanic,Percent White,Percent Black,Percent Native American,Percent Asian,Percent Hawaiian/Pacific Islander,Percent Other Race,Percent Two or More Races,MALE,FEMALE,Age Less Than 5,Age 5 to 9,Age 10 to 14,Age 15 to 17,Age 0 to 9,Age 10 to 19,Age 20 to 29,Age 30 to 39,Age 40 to 49,Age 50 to 59,Age 60 to 69,Age 70 to 79,Age Over 80,Age Less than 18,Age Over 65,Percent Age Less Than 18,Percent Age Over 65,Median Age All,Median Age Male,Median Age Female,Total Population 3 or Higher,Enrolled in School,Nursery or Preschool,KINDERGARTEN,Grades 1 to 4,Grades 5 to 8,Grades 9 to 12,College Undergraduate,Graduate School,Not Enrolled,Total Commuters,Commute Less than 15 Minutes,Commute 15 to 30 Minutes,Commute 30 to 45 Minutes,Commute 45 to 60 Minutes,Commute Over 60 Minutes,Total Population Over 25,Less Than HS Diploma,HS Graduate or Equivalent,Some College or AA,Bachelors or Higher,Total Population 5 and Over,Only English,Spanish,Total Housing Units,Occupied Housing Units,Vacant Housing Units,Owner Occupied Housing Units,Renter Occupied Housing Units,Total Households,Family Households,Married Couple Family,Other Family,Male Householder No Wife Present,Female Householder No Husband Present,Non Family Household,Householder Alone,Householder Not Alone,Household Income Less 10000,Household Income 10000 to 14999,Household Income 15000 to 19999,Household Income 20000 to 24999,Household Income 25000 to 29999,Household Income 30000 to 34999,Household Income 35000 to 39999,Household Income 40000 to 44999,Household Income 45000 to 49999,Household Income 50000 to 59999,Household Income 60000 to 74999,Household Income 75000 to 99999,Household Income 100000 to 124999,Household Income 125000 to 149999,Household Income 150000 to 199999,Household Income Over 200000,Median Household Income,Median Family Income,Per Capita Income,Average Household Income,Average Family Income,Median Earnings,Median Earnings Male,Median Earnings Female,Median Earnings Less HS,Median Earnings HS,Median Earnings Some College,Median Earnings Bachelor,Median Earnings Graduate,Median Year Built,Built 2014 or Later,Built 2010 to 2013,Built 2000 to 2009,Built 1990 to 1999,Built 1980 to 1989,Built 1970 to 1979,Built 1960 to 1969,Built 1950 to 1959,Built 1940 to 1949,Built 1939 or Earlier,Median Contract Rent,Median Gross Rent,Median Home Value,Native Born,Foreign Born FB,Europe FB,Northern Europe FB,Western Europe FB,Southern Europe FB,Eastern Europe FB,Asia FB,Eastern Asia FB,South Central Asia FB,South Eastern Asia FB,Western Asia FB,Africa FB,Eastern Africa FB,Middle Africa FB,Southern Africa FB,Western Africa FB,Oceania FB,Americas FB,Latin America FB,Carribean FB,Central America FB,South America FB,North America FB,Percent Living in Poverty,Percent Families in Poverty,GlobalID,Shape__Area,Shape__Length
0,2.022749e+08,2.020000e+14,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,2/12/2022 22:45,2/13/2022 8:00,2/13/2022 9:16,1014 S FEDERAL BLVD,-105.024664,39.698188,4,412,athmar-park,2.0,1,Auraria,780,150,547,54,7,0,0,0,22,19.2,70.1,6.9,0.9,0.0,0.0,0.0,2.8,406,374,0,0,0,11,0,553,180,14,0,10,23,0,0,11,4,1.4,0.5,19.5,19.6,19.4,780,727,0,0,0,0,0,727,0,53,338,146,90,59,11,32,75,0,4,33,38,780,714,44,47,26,21,22,4,26,14,14,0,0,0,12,9,3,0,0,0,0,0,0,0,3,0,3,4,7,0,0,3,6,86875.0,NaN,8120,146927,130407,NaN,NaN,50000,NaN,NaN,NaN,NaN,NaN,0.0,0,0,4,0,0,0,0,3,0,40,NaN,NaN,541700.0,737,43,0,0,0,0,0,0,0,0,0,0,32,11,0,0,21,0,11,11,0,11,0,0,0.0,0.0,578ee93f-c666-4afb-a5da-464a0e1ce408,17995417.42,17705.43233
1,2.020529e+09,2.020000e+15,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,9/1/2020 15:30,9/1/2020 15:30,9/1/2020 16:05,630 S TEJON ST,-105.010612,39.705400,4,412,athmar-park,1.0,1,Athmar Park,9585,5855,2992,75,140,431,0,49,43,61.1,31.2,0.8,1.5,4.5,0.0,0.5,0.4,4568,5017,475,637,797,377,1112,1339,1467,1996,1269,1009,707,478,208,2286,1484,23.8,15.5,32.6,34.9,31.5,9342,2335,141,216,452,696,522,254,54,7007,4210,1025,1443,1163,259,320,6785,1776,1847,1687,1475,9110,4728,3994,3109,3046,63,1820,1226,3046,1917,1264,653,209,444,1129,661,468,181,88,163,71,130,186,169,172,101,321,448,361,211,101,287,56,55051.0,52585.0,24728,69224,59458,38612.0,42293.0,35140,28408.0,30622.0,34804.0,66044.0,58651.0,1954.0,23,0,18,93,46,154,108,1918,417,332,1114.0,1252.0,324050.0,7606,1979,39,19,0,20,0,296,24,0,272,0,7,7,0,0,0,0,1637,1637,0,1637,0,0,18.4,16.9,e08a87f1-5d62-4f3c-9c82-fe2177912601,43089441.09,27352.42330
2,2.019905e+06,2.020000e+12,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,12/31/2018 21:30,NaN,1/1/2019 11:16,1080 S ELIOT ST,-105.023614,39.697448,4,412,athmar-park,1.0,1,Athmar Park,9585,5855,2992,75,140,431,0,49,43,61.1,31.2,0.8,1.5,4.5,0.0,0.5,0.4,4568,5017,475,637,797,377,1112,1339,1467,1996,1269,1009,707,478,208,2286,1484,23.8,15.5,32.6,34.9,31.5,9342,2335,141,216,452,696,522,254,54,7007,4210,1025,1443,1163,259,320,6785,1776,1847,1687,1475,9110,4728,3994,3109,3046,63,1820,1226,3046,1917,1264,653,209,444,1129,661,468,181,88,163,71,130,186,169,172,101,321,448,361,211,101,287,56,55051.0,52585.0,24728,69224,59458,38612.0,42293.0,35140,28408.0,30622.0,34804.0,66044.0,58651.0,1954.0,23,0,18,93,46,154,108,1918,417,332,1114.0,1252.0,324050.0,7606,1979,39,19,0,20,0,296,24,0,272,0,7,7,0,0,0,0,1637,1637,0,1637,0,0,18.4,16.9,e08a87f1-5d62-4f3c-9c82-fe2177912601,43089441.09,27352.42330
3,2.022261e+09,2.020000e+15,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,5/24/2022 21:10,NaN,5/24/2022 22:58,2698 W ALAMEDA AVE,-105.020067,39.710910,4,412,athmar-park,1.0,1,Athmar Park,9585,5855,2992,75,140,431,0,49,43,61.1,31.2,0.8,1.5,4.5,0.0,0.5,0.4,4568,5017,475,637,797,377,1112,1339,1467,1996,1269,1009,707,478,208,2286,1484,23.8,15.5,32.6,34.9,31.5,9342,2335,141,216,452,696,522,254,54,7007,4210,1025,1443,1163,259,320,6785,1776,1847,1687,1475,9110,4728,3994,3109,3046,63,1820,1226,3046,1917,1264,653,209,444,1129,661,468,181,88,163,71,130,186,169,172,101,321,448,361,211,101,287,56,55051.0,52585.0,24728,69224,59458,38612.0,42293.0,35140,28408.0,30622.0,34804.0,66044.0,58651.0,1954.0,23,0,18,93,46,154,108,1918,417,332,1114.0,1252.0,324050.0,7606,1979,39,19,0,20,0,296,24,0,272,0,7,7,0,0,0,0,1637,1637,0,1637,0,0,18.4,16.9,e08a87f1-5d62-4f3c-9c82-fe2177912601,43089441.09,27352.42330
4,2.022432e+09,2.020000e+15,2999,0,criminal-mischief-other,Criminal mischief - other,public-disorder,8/22/2022 22:45,NaN,8/23/2022 6:51,730 S JASON ST,-104.997905,39.703510,4,412,athmar-park,1.0,1,Athmar Park,9585,5855,2992,75,140,431,0,49,43,61.1,31.2,0.8,1.5,4.5,0.0,0.5,0.4,4568,5017,475,637,797,377,1112,1339,1467,1996,1269,1009,707,478,208,2286,1484,23.8,15.5,32.6,34.9,31.5,9342,2335,141,216,452,696,522,254,54,7007,4210,1025,1443,1163,259,320,6785,1776,1847,1687,1475,9110,4728,3994,3109,3046,63,1820,1226,3046,1917,1264,653,209,444,1129,661,468,181,88,163,71,130,186,169,172,101,321,448,361,211,101,287,56,55051.0,52585.0,24728,69224,59458,38612.0,42293.0,35140,28408.0,30622.0,34804.0,66044.0,58651.0,1954.0,23,0,18,93,46,154,108,1918,417,332,1114.0,1252.0,324050.0,7606,1979,39,19,0,20,0,296,24,0,272,0,7,7,0,0,0,0,1637,1637,0,1637,0,0,18.4,16.9,e08a87f1-5d62-4f3c-9c82-fe2177912601,43089441.09,27352.42330

In [30]:
# Group by 'Neighborhood Name' and calculate the required statistics
agg_df = crimes_merged.groupby('Neighborhood Name').agg({
    'victim_count': ['mean', 'min', 'max', 'std', 'count']
})

# Sort by mean victim_count in descending order
sorted_df = agg_df.sort_values(('victim_count', 'mean'), ascending=False)

# Set display option to show all rows
pd.set_option('display.max_rows', None)

print(sorted_df)

                             victim_count
                                     mean min max       std  count
Neighborhood Name
Montbello                        1.066132   1  14  0.524080  10842
Westwood                         1.053187   1  16  0.454073   6637
Whittier                         1.046729   1  14  0.416754   2247
Gateway - Green Valley Ranch     1.046427   1   9  0.385085   9865
Clayton                          1.042800   1  10  0.401289   2500
Barnum                           1.041773   1   7  0.322484   2753
Valverde                         1.035852   1  10  0.370356   2594
Harvey Park                      1.035190   1  11  0.366461   3609
Ruby Hill                        1.034995   1   9  0.352052   3772
Elyria Swansea                   1.033384   1   7  0.297743   4613
Barnum West                      1.032778   1   8  0.329288   1800
Athmar Park                      1.031553   1  13  0.344250   3708
Sun Valley                       1.030303   1   7  0.259197   2277
Cole                             1.030265   1   8  0.301242   2412
Mar Lee                          1.030246   1   7  0.275068   4232
Bear Valley                      1.030244   1  16  0.382665   2546
College View - South Platte      1.030210   1   8  0.265294   4237
Globeville                       1.029099   1  11  0.308202   4227
Fort Logan                       1.025587   1   7  0.245914   1915
Lincoln Park                     1.025563   1  12  0.239554   8254
Harvey Park South                1.025476   1   8  0.243913   2944
Civic Center                     1.024385   1  14  0.242020   9719
Villa Park                       1.023432   1   9  0.241823   4609
Northeast Park Hill              1.023198   1  13  0.255485   6854
Auraria                          1.022436   1   5  0.212188   3120
City Park West                   1.021713   1   6  0.197335   4974
Union Station                    1.021324   1   7  0.197626  12099
West Colfax                      1.020784   1   7  0.227286   7987
North Park Hill                  1.020131   1   6  0.186067   2285
Skyland                          1.019928   1   5  0.198730   1104
East Colfax                      1.019814   1   8  0.218165   8378
Five Points                      1.019252   1  17  0.212493  22231
Chaffee Park                     1.018955   1   9  0.263022   1741
Sloan Lake                       1.018544   1  10  0.271127   2858
Sunnyside                        1.017693   1   5  0.184035   4126
Marston                          1.017647   1   5  0.188119   2550
North Capitol Hill               1.016922   1  19  0.295902   7446
Hampden                          1.016699   1  10  0.209963   7665
Windsor                          1.016320   1   6  0.178482   3799
Goldsmith                        1.015571   1   6  0.187807   3211
CBD                              1.015520   1   5  0.153972  14240
Washington Virginia Vale         1.015123   1   4  0.153256   5356
South Park Hill                  1.015079   1   5  0.170732   2520
Montclair                        1.014757   1   5  0.161865   2575
Kennedy                          1.014499   1   3  0.139892   2276
Baker                            1.014437   1  13  0.206186   6719
Capitol Hill                     1.014150   1   8  0.159329  13993
Southmoor Park                   1.013699   1   4  0.147445   2190
Rosedale                         1.013133   1   3  0.121864   1066
Jefferson Park                   1.013065   1   9  0.193763   2679
Lowry Field                      1.012020   1   7  0.154601   3827
Central Park                     1.011135   1   7  0.147656  17423
University Hills                 1.011133   1   5  0.139746   3054
Highland                         1.010555   1   7  0.166318   6158
Berkeley                         1.010348   1   6  0.161022   3189
Virginia Village                 1.010117   1   8  0.149449   4547
Washington Park                  1.008995   1   6  0.154082   1890
Regis                            1.008949   1   3  0.105413   1788
Hampden South                    1.008772   1   5  0.117717   5814
Overland                         1.007894   1   4  0.104846   3167
Hilltop                          1.007889   1   3  0.093587   2155
Hale                             1.007757   1   5  0.108980   3352
Congress Park                    1.007731   1   4  0.104276   3751
Cheesman Park                    1.007552   1   4  0.105233   5032
Indian Creek                     1.007174   1   2  0.084453    697
University Park                  1.007040   1   3  0.097742   3125
West Highland                    1.006774   1   8  0.140417   3543
DIA                              1.006592   1   7  0.116137  14412
City Park                        1.006058   1   3  0.095154   1981
Platt Park                       1.005516   1   3  0.092958   2538
Wellshire                        1.005362   1   2  0.073127    373
Speer                            1.004999   1   5  0.090558   6201
Country Club                     1.004592   1   3  0.082918    871
Washington Park West             1.003849   1   3  0.067345   2858
University                       1.003827   1   3  0.067672   2613
Belcaro                          1.003695   1   2  0.060689   1624
Cherry Creek                     1.002962   1   4  0.070202   4052
Cory - Merrill                   1.002854   1   2  0.053363   2102

In [31]:
sorted_df.to_clipboard()

In [ ]:
#this shows the neighborhoods ranked by highest mean number of victims per crime

In [32]:
#finding the top 10 neighborhoods by number of crimes
df_agg_2= crimes_merged.groupby('Neighborhood Name').agg({'Neighborhood Name': ['count']})
sorted_agg=df_agg_2.sort_values(('Neighborhood Name', 'count'), ascending=False)
top_10_df=sorted_agg.head(10)
top_10_df

                             Neighborhood Name
                                         count
Neighborhood Name
Five Points                              22231
Central Park                             17423
DIA                                      14412
CBD                                      14240
Capitol Hill                             13993
Union Station                            12099
Montbello                                10842
Gateway - Green Valley Ranch              9865
Civic Center                              9719
East Colfax                               8378

In [34]:
top_10_df.to_clipboard()

In [33]:
#finding the bottom 10 neighborhoods by number of crimes
bottom_10_df=sorted_agg.tail(10)
bottom_10_df

                  Neighborhood Name
                              count
Neighborhood Name
Washington Park                1890
Barnum West                    1800
Regis                          1788
Chaffee Park                   1741
Belcaro                        1624
Skyland                        1104
Rosedale                       1066
Country Club                    871
Indian Creek                    697
Wellshire                       373

In [35]:
bottom_10_df.to_clipboard()

In [47]:
crimes_merged.shape

(370491, 168)

In [48]:
crimes_merged.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'crime_demo_merged.csv'))